@model IEnumerable<MobileShop.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        if (item.PriceSale > 0 && item.PriceSale < item.Price)
        {
            var strImg = "";
            var img = item.ProductImages.FirstOrDefault(m => m.IsDefault);
            if (img != null)
            {
                strImg = img.Image;
            }
            <div class="product-item @item.ProductCategorys.seoTitle">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <img src="@strImg" alt="@item.Title">
                    </div>
                    <div class="favorite favorite_left"> </div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"> <span>Sale</span> </div>
                    <div class="product_info">
                        <h6 class="product_name"> <a href="/chi-tiet-san-pham/@item.seoTitle-p@(item.Id)">@item.Title</a> </h6>
                        <div class="product_price">@string.Format("{0:#,0}",item.PriceSale)<span>@string.Format("{0:#,0}", item.Price)</span> </div>
                        <div style="display:none;" class="in-product_price">@item.Price</div>
                    </div>
                </div>
                <div class="red_button add_to_cart_button"> <a href="#" data-id="@item.Id" class="btnAddToCart"> Thêm vào giỏ hàng</a> </div>
            </div>
        }
        else
        {
            var strImg = "";
            var img = item.ProductImages.FirstOrDefault(m => m.IsDefault);
            if (img != null)
            {
                strImg = img.Image;
            }
            var sale = item.Price - item.PriceSale;
            <div class="product-item @item.ProductCategorys.seoTitle">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <img src="@strImg" alt="@item.Title">
                    </div>
                    <div class="favorite favorite_left"> </div>

                    <div class="product_info">
                        <h6 class="product_name"> <a href="/chi-tiet-san-pham/@item.seoTitle-p@(item.Id)">@item.Title</a> </h6>
                        <div class="product_price">@string.Format("{0:#,0}", item.Price)</div>
                        <div style="display:none;" class="in-product_price">@item.Price</div>
                    </div>
                </div>
                <div class="red_button add_to_cart_button"> <a href="#" data-id="@item.Id" class="btnAddToCart"> Thêm vào giỏ hàng</a> </div>
            </div>
        }
    }
}